header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
}

body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.blog-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
}



#back-btn {
font-size: 20px;
width: 80px;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 3px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#saved-title {
    border-bottom: 1px solid black;
    font-weight: bold;
}

