form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    margin-left: 55%;
    margin-top: 250px;
    gap: 30px;
   
}

input {
width: 500px;

}  

button {
    width: 500px;
    
}


#content {
    height: 50px;
}


